{% load bulma_tags %}
<!DOCTYPE html>

<head>
    <title>Expense Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Inter:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<style>
    body {
        font-family: 'Cabin Condensed', sans-serif;
        font-family: 'Inter', sans-serif;
    }
</style>

<body>
    <div style="display: flex; justify-content: space-between; margin: 1vh; align-items: center;">
        <div><a href="/">
            Expense Tracker
        </a></div>
    </div>
    <br>
    <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
        <div style="font-size: 1.2rem; margin-bottom: 6vh;">Register</div>
        <form method="POST">
            {% csrf_token %}
            {{ form | bulma }}
            <div class="field is-grouped" style="margin-top: 2vh;">
                <div class="control">
                    <button class="button is-link">Register</button>
                </div>
                <div class="control">
                    <a class="button is-text" href="{% url 'login' %}">Login instead</a>
                </div>
            </div>
        </form>
    </div>
</body>

</html>