{% load bulma_tags %}
<!DOCTYPE html>
<style>
    html {
        background: url('/static/wallpaper.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<head>
    <title>Expense Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Inter:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<style>
    body {
        font-family: 'Cabin Condensed', sans-serif;
        font-family: 'Inter', sans-serif;
    }
</style>

<body>
    <div style="display: flex; justify-content: space-between; margin: 1vh; align-items: center;">
        <div><a href="/">
            Expense Tracker
        </a></div>
        {% if request.user.is_authenticated %}
            <div style="display: flex; align-items: center; gap: 8px;">
                Logged in as {{ request.user.username }}
                <a class="button is-link" href="{% url 'logout' %}">Logout</a>
            </div>
        {% else %}
            <div>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Signup</a>
            </div>
        {% endif %}
    </div>
    <br>
</body>

</html>