{% load bulma_tags %}
<!DOCTYPE html>
<style>
    html {
        background: url('/static/wallpaper.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<head>
    <title>Expense Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Inter:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<style>
    body {
        font-family: 'Cabin Condensed', sans-serif;
        font-family: 'Inter', sans-serif;
    }
</style>

<body>
    <div style="display: flex; justify-content: space-between; margin: 1vh; align-items: center;">
        <div><a href="/">
            Expense Tracker
        </a></div>
        {% if request.user.is_authenticated %}
            <div style="display: flex; align-items: center; width: 60%; gap: 8px; justify-content: end;">
                <div style="display: flex; align-items: center; margin-left: 12px; gap: 12px;">
                    <div><a href="{% url 'manage_category' %}">Manage Categories</a></div>
                    <div><a href="{% url 'reminders' %}">Reminders</a></div>
                </div>
                <div>Logged in as {{ request.user.username }}</div>
                <a class="button is-link" href="{% url 'logout' %}">Logout</a>
            </div>
        {% else %}
            <div>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Signup</a>
            </div>
        {% endif %}
    </div>
    {% if request.user.is_authenticated %}
        <div style="margin: 2vh; font-size: 1.2rem;">Graphs</div>
        <div style="display: flex; justify-content: center; padding: 12px; padding-top: 6px; gap: 6px;">
            <div style="width: 600px; height: auto; background-color: rgba(255, 255, 255, .6); padding: 4px; padding-left: 8px; padding-right: 8px; border-radius: 4px;"><canvas id="expense_current_month"></canvas></div>
            <div style="width: 600px; height: auto; background-color: rgba(255, 255, 255, .6); padding: 4px; padding-left: 8px; padding-right: 8px; border-radius: 4px;"><canvas id="category_current_month"></canvas></div>
        </div>
        <div style="display: flex; justify-content: center;">
            <div>
                <center>Count by Category</center>
                <div style="display: flex; justify-content: center; padding: 12px; padding-top: 6px;">
                    <div style="width: 600px; height: auto; background-color: rgba(255, 255, 255, .6); padding: 4px; padding-left: 8px; padding-right: 8px; border-radius: 4px;"><canvas id="count_per_category_current_month"></canvas></div>
                </div>
            </div>
            <div>
                <center>Count by Payment Method</center>
                <div style="display: flex; justify-content: center; padding: 12px; padding-top: 6px;">
                    <div style="width: 600px; height: auto; background-color: rgba(255, 255, 255, .6); padding: 4px; padding-left: 8px; padding-right: 8px; border-radius: 4px;"><canvas id="count_per_payment_method_current_month"></canvas></div>
                </div>
            </div>
        </div>
    {% endif %}
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
    const expense_current_month_data = {{ expense_current_month | safe }};
    var expense_current_month_colors = [];
    for (var i = 0; i < expense_current_month_data.length; i++) {
        expense_current_month_colors.push('#' + Math.floor(Math.random()*16777215).toString(16));
    }
    const category_current_month_data = {{ category_current_month | safe }};
    var category_current_month_colors = [];
    for (var i = 0; i < category_current_month_data.length; i++) {
        category_current_month_colors.push('#' + Math.floor(Math.random()*16777215).toString(16));
    }
    const count_per_category_current_month_data = {{ count_per_category_current_month | safe }};
    var count_per_category_current_month_colors = [];
    for (var i = 0; i < count_per_category_current_month_data.length; i++) {
        count_per_category_current_month_colors.push('#' + Math.floor(Math.random()*16777215).toString(16));
    }
    const count_per_payment_method_current_month_data = {{ count_per_payment_method_current_month | safe }};
    var count_per_payment_method_current_month_colors = [];
    for (var i = 0; i < count_per_payment_method_current_month_data.length; i++) {
        count_per_payment_method_current_month_colors.push('#' + Math.floor(Math.random()*16777215).toString(16));
    }

    new Chart(
    document.getElementById('expense_current_month'),
    {
      type: 'bar',
      data: {
        labels: expense_current_month_data.map(row => row.day),
        datasets: [
          {
            label: 'Expense by Day',
            data: expense_current_month_data.map(row => row.expense),
            backgroundColor: expense_current_month_colors,
          }
        ]
      },
      options: {
        responsive: true,
      }
    }
    );

    new Chart(
    document.getElementById('category_current_month'),
    {
      type: 'bar',
      data: {
        labels: category_current_month_data.map(row => row.category),
        datasets: [
          {
            label: 'Expense by Category',
            data: category_current_month_data.map(row => row.expense),
            backgroundColor: category_current_month_colors,
          }
        ]
      },
      options: {
        responsive: true,
      }
    }
    );

    new Chart(
    document.getElementById('count_per_category_current_month'),
    {
      type: 'doughnut',
      data: {
        labels: count_per_category_current_month_data.map(row => row.category),
        datasets: [
          {
            label: 'Count by Category',
            data: count_per_category_current_month_data.map(row => row.count),
            backgroundColor: count_per_category_current_month_colors,
          }
        ]
      },
      options: {
        responsive: true,
        plugins: {
            title: {display: true, text: 'Count by Category'},
        }
      }
    }
    )

    console.log(count_per_payment_method_current_month_data)
    new Chart(
    document.getElementById('count_per_payment_method_current_month'),
    {
      type: 'doughnut',
      data: {
        labels: count_per_payment_method_current_month_data.map(row => row.payment_method),
        datasets: [
          {
            label: 'Count by Payment Method',
            data: count_per_payment_method_current_month_data.map(row => row.count),
            backgroundColor: expense_current_month_colors,
          }
        ]
      },
      options: {
        responsive: true,
        plugins: {
            title: {display: true, text: 'Count by Payment Method'},
        }
      }
    }
    )
</script>

</html>